Repository danpacho/blog-post-generator: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
    "**/*.js": [
        "prettier --write",
        "eslint --fix"
    ],
    "**/*.{md,json}": [
        "prettier --write"
    ]
}

Update: .gitignore .
  .gitignore
Due: none

Update: .npmignore .
  .npmignore
Due: none

Refactor: adapt eslint-rules, prettier and remove txt file option .
  src/App.js
  src/constant/index.js
  src/utils/handlePostFile.js
  src/utils/handleProcess.js
  src/utils/handlePromptAction.js
  src/utils/handleRandomProperty.js
  src/utils/handleSleep.js
  src/utils/handleTab.js
  src/utils/index.js
  src/utils/logger.js
  src/utils/process.js
  src/utils/randomColor.js
  src/utils/sleep.js
  src/utils/tab.js
Due: prettier --write, eslint --fix

Fix: typo .
  README.md
Due: prettier --write

Update: jsconfig for force consist case to true .
  jsconfig.json
Due: prettier --write

Add: parcel bundler to minify production build size .
  package.json
  pnpm-lock.yaml
Due: prettier --write

Update: .gitignore for parcel build-cache .
  .gitignore
Due: none

Update: .npmignore for production .
  .npmignore
Due: none

Update: blog dir slection bg color .
  src/utils/handlePostFile.js
Due: prettier --write, eslint --fix

1.2.12
  package.json
Due: prettier --write

Fix: fatal error of including test post in production .
  .npmignore
Due: none

1.2.13
  package.json
Due: prettier --write

Update: add unused production code to .npmignore .
  .npmignore
Due: none

1.2.14
  package.json
Due: prettier --write

fix: typo
  src/utils/handlePostFile.js
  src/utils/handlePromptAction.js
  src/utils/logger.js
Due: prettier --write, eslint --fix

feat: reduce delay time to 250
  src/constant/index.js
Due: prettier --write, eslint --fix

feat: update app banner and fix typo
  src/App.js
Due: prettier --write, eslint --fix

1.2.15
  package.json
Due: prettier --write
